.service {
    background-color: $blue-bg-color;
    padding-top: 50px;

    @media (min-width:1360px) {
        padding-top: 100px;
    }

    &__flex {
        padding-bottom: 5rem;

        @media (min-width:992px) {
            display: flex;
            gap: 2rem;
        }
    }

    &__header {
        margin-bottom: 4rem;
    }

    &__tittle-decor {
        padding: 2rem 0;
    }

    &__left-card-box {
        @media (min-width:992px) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: -3rem 0rem 3rem;
        }
    }

    &__right-card-box {
        display: none;

        @media (min-width:992px) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__card {
        background-color: $grey-bg-color;
        border-radius: 30px;
        padding: 15% 8%;

        &:nth-child(2) {
            display: none;

            @media (min-width:992px) {
                display: block;
            }
        }

        @include card-dots (0, 60%);

        @media (min-width:1100px) {
            height: 50%;
            border-radius: 0;
        }
    }

    @media (min-width:992px) {
        &__card--1 {
            border-top-left-radius: 50px;

        }

        &__card--2 {
            border-bottom-left-radius: 50px;
        }

        &__card--3 {
            border-top-right-radius: 50px;

        }

        &__card--4 {
            border-bottom-right-radius: 50px;

        }
    }

    &__card-tittle {
        padding-bottom: 2rem;
    }

    &__card-text {
        padding-bottom: 2rem;
    }

    &__content-button_transparent {
        border: none;
        background-color: $main-yellow;
    }

}